$font-size:                 18px;
$font-size-text:            32px;
$font-size-title:           39px;

$container:                 1200px;
$padding:                   24px;
$height-navbar:             72px;

$color:                     #333;
$color-hover:               #87c3ec;

$background-menu__list:     #4B4A4A;
$background:                #f1f1f1;
$background-navbar:         #2b2a28;
$fon:                       #fff;